html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 50px;
}
body{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.block{

}
.block__row{
    display: flex;
    align-items:center ;
    border: 20px solid #ece89d;
    margin: 0 0 20px 0;
    align-items: center;
}

.block__column{
    border: 20px solid #5e5373;
    /* вказує розмір елемента в контейнері */
    /*flex-basis це не width а базове значення розміру  */
    /* flex-basis: 100px; */
    /*flex-grow: 0; забороняє збільшуватися елементу в контейнері відносно базового розміру  */
    /* flex-grow: 1; незалежно від значення flex-basis елементи займуть всю ширину контейнера*/
    /* flex-grow: 1; */
    /*   flex-shrink: 1; дозволено робитися ментшим */
    /*   flex-shrink: 0; дозволено робитися меншим від того що вказано в flex-basis */
    /* flex-shrink: 1; */
    /* скорочений запис flex-grow flex-shrink flex-basis */
    flex:0 1 auto;
}

.block__item{
    background-color: #18b5a4;
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}

.block__list{
    display: flex;
    align-items: center;

}

.block__list li{
    margin: 0 15px 0 0;
}
.block__list li:last-child{
    margin: 0 0 0 0;
}

.block__info{
    position: relative;
    padding: 0 0 0 25px;
    line-height: 15px;
}

.block__column_1{

}
.block__column_2{

}
.block__column_3{

}